[submodule "trifid-neon"]
	path = trifid-neon
	url = https://github.com/charlesvardeman/trifid-neon.git
[submodule "fuseki-geosparql-docker"]
	path = fuseki-geosparql-docker
	url = https://github.com/charlesvardeman/fuseki-geosparql-docker.git
